<div class="sidebar close">
  <ul class="list-group">
    <li id="menu-item" class="list-group-item">
      <h2 id="menu-text">Menu</h2>
      <i id="menu-icon" class="fa-solid fa-bars"></i>
    </li>
    <li class="user-item" onclick="showUserModal('<%= user.id %>')">
      <i id="user-icon" class="icons fa-solid"><%= user.letter%></i>
      <medium
        id="user-text"
        style="
          color: white;
          max-width: 60px;
          overflow: hidden;
          text-overflow: ellipsis;
        "
        ><%= user.name %></medium
      >
    </li>
    <li id="search-item" class="list-group-item">
      <input
        type="search"
        class="form-control"
        autocomplete="off"
        id="search-input"
        placeholder="Search task in page"
      />
    </li>
    <li class="list-item list-group-item list-group-item-action">
      <i class="icons fa-solid fa-calendar-day"></i>
      <medium class="item-text">Today</medium>
      <span id="today-badge" class="badge bg-danger text-white"
        ><%= today %></span
      >
    </li>
    <li class="list-item list-group-item list-group-item-action">
      <i class="icons fa-solid fa-calendar-days"></i>
      <medium class="item-text">Upcoming</medium>
      <span id="upcoming-badge" class="badge bg-danger text-white"
        ><%= upcoming %></span
      >
    </li>
    <li class="list-item list-group-item list-group-item-action">
      <i class="icons fa-solid fa-calendar-xmark"></i>
      <medium class="item-text">Incomplete</medium>
    </li>
    <li class="list-item list-group-item list-group-item-action">
      <i class="icons fa-solid fa-list-check"></i>
      <medium class="item-text">Completed</medium>
    </li>
  </ul>
  <i class="logout-btn fa-solid fa-right-from-bracket">
    <medium id="logout-text">Log out</medium>
  </i>
</div>
