<div class="accordion" id="accordion-<%=task.id%>">
  <div class="accordion-item-<%=task.id%>">
    <h2 class="accordion-header" id="heading-<%=task.id%>">
      <button
        class="accordion-button"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapse-<%=task.id%>"
        aria-expanded="true"
        aria-controls="collapse-<%=task.id%>"
      >
        <%= task.title %>
      </button>
    </h2>
    <div
      id="collapse-<%=task.id%>"
      class="accordion-collapse collapse show"
      aria-labelledby="heading-<%=task.id%>"
      data-bs-parent="#accordion-<%=task.id%>"
    >
      <div class="card-<%=task.id%>">
        <div class="card-body">
          <div class="header mb-2 d-flex justify-content-between">
            <p class="card-text overflow-auto"><%= task.content %></p>
            <div class="dropdown dropdown-menu-start ms-auto">
              <button
                class="btn"
                role="button"
                id="dropdownMenuLink-<%=task.id%>"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <i class="fa-solid fa-ellipsis-vertical"></i>
              </button>
              <ul
                class="dropdown-menu"
                aria-labelledby="dropdownMenuLink-<%=task.id%>"
              >
                <li>
                  <button class="dropdown-item" onclick="doneClicked(this)">
                    <i class="fa-solid fa-check"></i>&nbsp;&nbsp; Done
                  </button>
                </li>
                <li>
                  <button class="dropdown-item" onclick="deleteClicked(this)">
                    <i class="fa-sharp fa-solid fa-trash"></i>&nbsp;&nbsp;
                    Delete
                  </button>
                </li>
              </ul>
            </div>
          </div>
          <div class="footer d-flex justify-content-between">
            <small class="text-muted">start - 05-02-2023</small>
            <small class="text-muted">created - <%= task.created%></small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
