<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs',{"title":title}) %>
  </head>

  <body>
    <main>
      <img class="image-logo" src="../../public/images/logo.png" />
      <%- include('../partials/sidebar.ejs',user,today,upcoming)%>
      <h1 id="img-title" class="image-title"><%= title %> Tasks</h1>
      <div class="accordion"><%- tasks %></div>
      <%- include("../partials/modal.ejs") %>
      <i id="addBtn" class="fa-solid fa-plus-circle" onclick="showModal()"></i>
      <div
        class="toast-container position-fixed bottom-0 start-50 translate-middle-x p-3"
      ></div>
      <%- include("../partials/user-modal.ejs") %>
    </main>

    <script src="../../public/js/sidebar.js"></script>
    <script src="../../public/js/toast.js"></script>
    <script src="../../public/js/modal.js"></script>
    <script src="../../public/js/user-modal.js"></script>
    <script src="../../public/js/task.js"></script>
    <script src="../../public/js/index.js"></script>
  </body>
</html>
